.popup-container
{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}
.popup-page
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 500px;
    position: absolute;
    border-radius: 40px;
    transform: scale(0.1);
    top: -250px;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 3000;
}
.popup-page i
{
    font-size: 150px;
    margin-top: -75px;
}
.popup-page h1
{
    font-size: 80px;
    margin-top: 40px;
}
.popup-page p
{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;

}
.popup-page button
{
    width: 300px;
    height: 70px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;

}
.popup-container .join-btn
{
    width: 200px;
    height: 50px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    z-index: 3000;
}
.popup-oversize
{
    top: 200px;
    transform: scale(1);
    visibility: visible;
}
.join-btn-part
{
    visibility: hidden;
}

.forPopUp
{
    position: absolute;
    height: 200000px;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 2000;
}