
.main-game-container
{
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 10px;
}
.restore i
{
    font-size: 50px;
}
.restore
{
    background-color: transparent;
    border: none;

}
.options-container i
{
    font-size: 180px;
}
.options-container
{
    display: flex;
    gap: 30px;
}
.options-container button
{
    background-color: transparent;
    border: none;
    transition: all 0.3s linear;
}
button:hover
{
    opacity: 0.6;
}
.heading
{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}
.js-score
{

    font-size: 20px;
    
}

