.main-container
{
  margin-top: 100px;
  height: 600px;
  width: 800px;
  border: 10px;
}
.container-heading
{
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  margin: 1px; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.head
{
  position: relative;
  width: 100%;
  height: 70px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.info
{
  display: none;
  width: 100%;
  height: 250px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  transition: all 0.5s ease;
  margin-top: -9px;
}
.main-container input
{
  display: none;
}
#head-radio1:checked ~ .container-heading .info1,
#head-radio2:checked ~ .container-heading .info2,
#head-radio3:checked ~ .container-heading .info3,
#head-radio4:checked ~ .container-heading .info4,
#head-radio5:checked ~ .container-heading .info5,
#head-radio6:checked ~ .container-heading .info6
{
  transition: all 0.5s ease;
  display: block;
}

.head i
{
  position: absolute;
  font-size: 30px;
  top: 18px;
  right: 8px;
  color: rgba(0, 0, 0, 0.561);
}